.aboutme-section {
  background-color: #000000;
  padding: 2.5rem 0;
  position: relative;
  font-family: "Zalando Sans Expanded", sans-serif;
}

.aboutme-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #1515E8;
}

.aboutme-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.aboutme-label {
  color: #F2F2F9;
  text-align: left;
  font-size: 1.45rem;
  font-weight: 400;
  margin-bottom: 3rem;
  font-family: "Zalando Sans Expanded", sans-serif;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: start;
}

.aboutme-text {
  padding-right: 2rem;
}

.aboutme-title {
  color: #F2F2F9;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 2rem;
  font-family: "Zalando Sans Expanded", sans-serif;
}

.name-highlight {
  font-weight: 700;
}

.love-highlight {
  color: #ECA311;
  font-style: italic;
  font-weight: 400;
}

.aboutme-description {
  color: #F2F2F9;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align:justify;
  margin-bottom: 1.5rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-weight:100;
}

.aboutme-image-wrapper {
  width: 100%;
  height: auto;
}

.aboutme-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 968px) {
  .aboutme-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .aboutme-text {
    padding-right: 0;
  }

  .aboutme-title {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .aboutme-container {
  padding: 0;
}
  .aboutme-section {
    padding: 3rem 0;
  }

  .aboutme-title {
    font-size: 1.76rem;
  }

  .aboutme-description {
    font-size: 0.813rem;
  }
}